@model CTP.Models.BookManager
<div class="main__title">General Ministry Books</div>
<div class="main__description">Management</div>
<div class="page-content">
    <div class="filter">
        <span class="filter__sortby">
            <a asp-controller="Admin" asp-action="AddMinistry" class="add-button">Add New</a>
            <span class="filter__sortby__text">Sort By</span>
            <select class="filter__sortby__select" id="ministry-sort">
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="price">Price</option>
            </select>@*filter__sortby__select*@
        </span>@*filter__sortby*@
    </div>@*filter*@
    <div class="table">
        <div class="table__grid" id="tblMinistry">
            @foreach (var item in Model.ministry.OrderBy(x => x.title.Replace(@"""", "")))
            {
                <div class="table__grid__item" style="margin: 60px;">
                    <img src="~/images/covers/ministry/@item.frontcover" class="grid-item-image">
                    <div class="grid-item-title">
                        @(item.title.Length>15 ? item.title.Substring(0, 15)+"..." : item.title)
                    </div>
                    <div class="grid-item-author">@item.author</div>
                    <div class="grid-item-price">$@item.price</div>
                    <div class="grid-item-buttons">
                        <a asp-controller="Admin" asp-action="EditMinistry" asp-route-id="@item.id" class="edit-button">Edit</a>
                        <a asp-controller="Admin" asp-action="DeleteMinistry" asp-route-id="@item.id" class="delete-button btn-warning">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>@*table*@
</div>@*page-content*@
