<div class="main__title main__title--about">The Objective of this Website</div>
<div class="main__description main__description--about">
    <div class="main__description__text">The burden in the development of this website has been to provide Christians with what we believe is accurate teaching of the various Biblical truths that were recovered in the 1800s. 
        <br><br>The challenge has been to lay out the truth in a simple and concise way so that the present generation can understand it, but at the same time, to make sure that none of its depth is lost. 
        <br><br>This website contains a large portion of the writings of brother Bruce Anstey who has laboured to write expositions on most of the New Testament books. 
        <br><br>He has also written copiously on prophetic subjects and produced some Old Testament expositions, outlines, and charts. 
        <br><br>The writings of other reliable authors are also published and available in printed and electronic format on this website.
        <br><br>We commend this website into the hands of the Lord, and trust that He will use it to build up the saints in the most holy faith (Jude 20).
    </div>
    <div class="main__description__list">
        <ul>
            The site comprises:
            <li><span class="bold">New Testament outlines and expositions</span> of most New Testament books</li>
            <li><span class="bold">Old Testament outlines and expositions</span> of many Old Testament books</li>
            <li>Teaching as to <span class="bold">how the Church should meet</span> for worship and for ministry meetings as taught in the New Testament</li>
            <li><span class="bold">Prophetic outlines and expositions</span></li>
            <li>Books and booklets containing accurate <span class="bold">teaching of the doctrines of the New Testament</span> epistles</li>
            <li>Booklets teaching and encouraging <span class="bold">practical Christian living</span></li>
            <li><span class="bold">Charts, diagrams, and illustrations</span> teaching and providing:
                <ul>
                    <li>A proper detailed outline of various books of the Bible</li>
                    <li>A proper sequence of prophetic events</li>
                    <li>A visual aid to understanding the future movements of various armies at the time of the Lord’s appearing</li>
                </ul>
            </li>
        </ul>
    </div>
</div>