@model CTP.Models.BookManager
<div class="main__title main__title--homepage">Welcome!</div>
<div class="content">
    <div class="content__block" id="ebook-block">
        <a asp-controller="Home" asp-action="Ebooks" class="link-block">
            <img src="~/images/ebookimage.jpg" class="homepage-image">
            <div class="content__block__overlay">
                <div class="overlay-title">eBooks</div>
                <div class="overlay-description">The electronic versions of various printed ministry available to download or purchase</div>
            </div>@*content__block__overlay*@
        </a>@*link-block*@
    </div>@*content__block*@
    <div class="content__block" id="book-block">
        <a asp-controller="Home" asp-action="Ministry" class="link-block">
            <img src="~/images/bookimage.jpg" class="homepage-image">
            <div class="content__block__overlay">
                <div class="overlay-title">Ministry</div>
                <div class="overlay-description">Written general ministry by Bruce Anstey, available to order</div>
            </div>@*content__block__overlay*@
        </a>@*link-block*@
    </div>@*content__block*@
    <div class="content__block" id="study-block">
        <a asp-controller="Home" asp-action="Expositions" class="link-block">
            <img src="~/images/studyimage.jpg" class="homepage-image">
            <div class="content__block__overlay">
                <div class="overlay-title">Biblical Expositions</div>
                <div class="overlay-description">Ministry written on books of the Bible for study purposes by Bruce Anstey, available to order</div>
            </div>@*content__block__overlay*@
        </a>@*link-block*@
    </div>@*content__block*@
    <div class="content__block" id="booklet-block">
        <a asp-controller="Home" asp-action="Booklets" class="link-block">
            <img src="~/images/bookletimage.jpg" class="homepage-image">
            <div class="content__block__overlay">
                <div class="overlay-title">Booklets</div>
                <div class="overlay-description">Ministry booklets and charts from various authors, available to order</div>
            </div>@*content__block__overlay*@
        </a>@*link-block*@
    </div>@*content__block*@
</div>@*content*@