<div class="main__title main__title--about">Language Resources</div>
<div class="main__description main__description--about">
    <div class="main__description__text">
        <h4 style="color:rgb(104,131,134);">Português - Portuguese</h4>
        <div style="padding-bottom: 10px; padding-right: 10px;">
            <span>Definições Doutrinais - Um Manual de Termos Doutrinais e Expressões no Novo Testamento Bruce Anstey</span><br>
            <a class="language-link" href="https://definicoesdoutrinais.blogspot.com/" target="_blank">definicoesdoutrinais.blogspot.com</a>
        </div>
        <div style="padding-bottom: 10px; padding-right: 10px;">
            <span>Verdadas Vivas - site da web que vende os livros de Bruce Anstey e outros</span><br>
            <a class="language-link" href="http://loja.verdadesvivas.com.br/" target="_blank">verdadesvivas.com</a>
        </div>
        <div style="padding-bottom: 10px; padding-right: 10px;">
            <span>Publishers da Verdade da Bíblia (Bible Truth Publishers) conteúdo em Português</span><br>
            <a class="language-link" href="https://bibletruthpublishers.com/bible-teaching-portuguese-all-languages/pl13x4x10" target="_blank">bibletruthpublishers.com</a>
        </div>
    </div>
    <div class="main__description__text">
        <h4 style="color:rgb(104,131,134);">Español - Spanish</h4>
        <div style="padding-bottom: 10px;">
            <span>Editores de la Verdad Bíblica (Bible Truth Publishers) contenido en Español</span><br>
            <a class="language-link" href="https://bibletruthpublishers.com/advertising-spanish-all-languages/pl13x2x1" target="_blank">bibletruthpublishers.com</a>
        </div>
    </div>
</div>