@model CTP.Models.BookManager
<div class="main__title">Ministry Books Available for Order</div>
<div class="main__desciption">Lorem ipsum dolor sit amet or something like that</div>
<div class="content">
    <div class="filter"></div>
</div>
