//footer
.footer {
    z-index: 1;
    background-color: $dark-grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 0 !important;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: $accent-color;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $small-text;
    //address in div tag
    &__address {
        @include display-flex();
        flex-flow: row nowrap;

        i {
            font-size: $med-large-text;
            padding-right: 10px;
            color: $light-color;
        }
    }
    //phone numbers and email addresses in div tag
    &__social {
        //row
        &__item {
            padding-bottom: 10px;
            @include display-flex();
            flex-flow: row nowrap;
            i {
                font-size: $med-large-text;
                padding-right: 10px;
                color: $light-color;
                padding-bottom: 5px;
            }
            //anchor for mailtos
            a {
                color: $accent-color;
                &:hover {
                    @include active-link();
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    //login and links to other sites in div
    &__admin {
        //row
        &__item {
            padding-bottom: 10px;
            @include display-flex();
            flex-flow: row nowrap;
            i {
                font-size: $med-large-text;
                padding-right: 10px;
                color: $light-color;
                padding-bottom: 5px;
            }
            //anchors for external links
            a {
                color: $accent-color;
                &:hover {
                    @include active-link();
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}