//------------------------------ mixins
@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin active-link() {
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 3px solid $light-color;
    color: $light-color;
}//----------------------------- media values
$extra-small-screen: 200px;
$small-screen: 300px;
$medium-screen: 400px;
$large-screen: 800px;
$extra-large-screen: 1200px;
//------------------------------ variables
//fonts
$title-font: 'Jost', sans-serif;
$base-font: 'Assistant', sans-serif;
//font-sizes
$extra-large-text: 30px;
$large-text: 26px;
$med-large-text: 22px;
$medium-text: 18px;
$med-small-text: 16px;
$small-text: 14px;
//colors
$dark-grey: #2b2b2b;
$white: #ffffff;
$accent-color: rgb(104,131,134);
$light-color: rgb(172, 198, 201);
$bg-color: #ffffff80;
$overlay-color: #ffffffb0;
$text-bg-color: #ffffffc9;