.bg-image {
  z-index: -1;
  width: 100%;
  opacity: .7;
  position: fixed; }

.home-link {
  color: #ffffff; }
  .home-link:hover {
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 3px solid #acc6c9;
    color: #acc6c9;
    border-bottom: none;
    padding-bottom: 0; }

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }
  .header__main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .header__main__title {
      font-family: "Jost", sans-serif;
      font-size: 30px; }
    .header__main__search {
      width: 250px;
      background-color: #ffffff;
      border-radius: 5px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
  .header__bottom {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px; }
  .header__collapse {
    display: none; }
  .header__social {
    text-align: right; }
    .header__social a {
      color: #ffffff; }
      .header__social a:hover {
        color: #688386; }
  .header__nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0; }

.nav-item {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  color: #688386; }
  .nav-item:hover {
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 3px solid #acc6c9;
    color: #acc6c9; }

.searchbar {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding-left: 10px;
  color: #688386; }
  .searchbar:focus {
    outline-width: 0;
    outline: none; }

.search-button {
  border: 0;
  border-radius: 10px;
  background-color: #ffffff00;
  cursor: pointer; }
  .search-button i:hover {
    color: #688386; }

.social-item {
  font-size: 26px;
  cursor: pointer; }
  .social-item:hover {
    color: #688386; }

.activeLink {
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 3px solid #acc6c9;
  color: #acc6c9;
  pointer-events: none; }

.active-link-mod {
  text-decoration: none;
  color: #acc6c9;
  padding-bottom: 0px;
  border-bottom: none;
  pointer-events: none; }

.footer {
  z-index: 1;
  background-color: #2b2b2b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #688386;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px; }
  .footer__address {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap; }
    .footer__address i {
      font-size: 22px;
      padding-right: 10px;
      color: #acc6c9; }
  .footer__social__item {
    padding-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap; }
    .footer__social__item i {
      font-size: 22px;
      padding-right: 10px;
      color: #acc6c9;
      padding-bottom: 5px; }
    .footer__social__item a {
      color: #688386; }
      .footer__social__item a:hover {
        text-decoration: none;
        padding-bottom: 15px;
        border-bottom: 3px solid #acc6c9;
        color: #acc6c9;
        border-bottom: none;
        padding-bottom: 0; }
  .footer__admin__item {
    padding-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap; }
    .footer__admin__item i {
      font-size: 22px;
      padding-right: 10px;
      color: #acc6c9;
      padding-bottom: 5px; }
    .footer__admin__item a {
      color: #688386; }
      .footer__admin__item a:hover {
        text-decoration: none;
        padding-bottom: 15px;
        border-bottom: 3px solid #acc6c9;
        color: #acc6c9;
        border-bottom: none;
        padding-bottom: 0; }

.main {
  max-width: 100%;
  min-height: 100%;
  z-index: 1px;
  padding-top: 180px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffffff80;
  overflow-x: hidden; }
  .main__title {
    font-size: 30px;
    color: #2b2b2b;
    font-family: "Jost", sans-serif; }
    .main__title--about {
      font-size: 46px; }
    .main__title--homepage {
      font-size: 46px;
      padding-left: +40px; }
    .main__title--listing {
      margin-left: +100px; }
  .main__description {
    font-size: 22px;
    color: #2b2b2b;
    font-family: "Assistant", sans-serif; }
    .main__description--about {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffffc9;
      padding: 40px;
      margin-top: 40px;
      border-radius: 5px;
      margin-bottom: 40px; }
    .main__description--admin {
      margin-left: +40px; }
    .main__description__text {
      text-align: justify;
      font-size: 14px;
      padding-right: 40px; }
    .main__description__list {
      font-size: 14px !important;
      text-align: justify !important; }
      .main__description__list li {
        padding-top: 10px; }
        .main__description__list li .bold {
          font-weight: 700; }
  .main__arrow {
    color: #688386; }
    .main__arrow:hover {
      color: #acc6c9; }

.content {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(300px);
  row-gap: 40px; }
  .content__block {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 300px;
    width: 480px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    text-align: center; }
    .content__block__overlay {
      background-color: #ffffffb0;
      width: 480px;
      height: 100px;
      position: absolute;
      z-index: 2;
      margin-top: 200px; }

img.homepage-image {
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  opacity: 1; }

a.link-block:hover .overlay-title {
  text-decoration: underline; }

a.link-block:hover .overlay-description {
  color: #688386; }

.overlay-title {
  font-size: 22px;
  color: #688386;
  padding-top: 5px; }

.overlay-description {
  font-size: 14px;
  color: #2b2b2b;
  padding: 10px; }

.page-content {
  width: 100%;
  text-align: center;
  margin: auto; }
  .page-content--delete {
    margin-left: +100px; }

.listing {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px; }
  .listing__images__img {
    width: 350px;
    height: 450px;
    border-radius: 5px; }
    .listing__images__img--back {
      display: none; }
  .listing__images__buttons {
    color: #688386; }
    .listing__images__buttons i {
      padding: 10px;
      font-size: 30px; }
    .listing__images__buttons i:hover {
      color: #acc6c9;
      cursor: pointer; }
  .listing__content {
    text-align: left;
    font-family: "Assistant", sans-serif; }
    .listing__content__title {
      font-size: 26px;
      padding-bottom: 10px; }
    .listing__content__author {
      font-size: 22px;
      padding-bottom: 10px; }
    .listing__content__price {
      color: #688386;
      font-size: 30px;
      padding-bottom: 10px; }
    .listing__content__code {
      font-size: 14px;
      padding-bottom: 20px; }
    .listing__content__button {
      background-color: #ffffff;
      color: #688386;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px; }
      .listing__content__button:hover {
        text-decoration: none;
        background-color: #acc6c9;
        color: #ffffff; }
    .listing__content__info {
      margin-top: 20px;
      font-size: 12px; }

.disabled {
  color: #acc6c9;
  cursor: default;
  pointer-events: none; }

.filter {
  margin-top: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; }
  .filter__sortby__text {
    font-family: "Assistant", sans-serif;
    font-size: 16px;
    padding-right: 10px; }
  .filter__sortby__select {
    font-family: "Assistant", sans-serif;
    font-size: 16px;
    width: 100px;
    border: none;
    border-radius: 5px; }

.add-button {
  border: 0;
  background-color: #ffffff;
  color: #688386;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px; }
  .add-button:hover {
    text-decoration: none;
    background-color: #acc6c9;
    color: #ffffff; }

.grid-item-buttons {
  margin-top: 15px; }

.edit-button {
  border: 0;
  background-color: #acc6c9;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px; }
  .edit-button:hover {
    text-decoration: none;
    background-color: #688386;
    color: #ffffff; }

.delete-button {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px; }

.btn-form-delete {
  border-radius: 5px;
  border: 0;
  padding: 10px; }

.table {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px; }
  .table__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(200px);
    row-gap: 40px; }
    .table__grid__item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px; }
      .table__grid__item:hover .grid-item-title, .table__grid__item:hover .grid-item-author, .table__grid__item:hover .grid-item-price {
        color: #688386;
        text-decoration: none !important; }

.grid-item-image {
  height: 200px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px; }

.grid-item-title, .grid-item-author, .grid-item-price {
  color: #2b2b2b; }
  .grid-item-title:hover, .grid-item-author:hover, .grid-item-price:hover {
    text-decoration: none; }

a:hover {
  text-decoration: none; }

.form {
  text-align: left;
  margin-bottom: 80px;
  margin-top: 40px;
  max-width: 410px; }
  .form-group {
    text-align: left !important; }

.input {
  max-width: 400px; }

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr 1fr; }
    .content__block {
      width: 280px;
      height: 180px; }
      .content__block__overlay {
        width: 280px;
        margin-top: 90px; }
  .overlay-title {
    font-size: 14px;
    padding-top: 5px; }
  .overlay-description {
    font-size: 12px;
    padding-top: 5px; }
  .footer {
    font-size: 14px -2; }
    .footer > * {
      padding-right: 15px; } }

@media (max-width: 800px) {
  .bg-image {
    height: 100%;
    min-width: 100%; }
  .header__bottom {
    display: none; }
  .header__collapse {
    display: inline-block;
    padding-left: 10px; }
    .header__collapse i {
      cursor: pointer; }
      .header__collapse i:hover {
        color: #688386; }
    .header__collapse__menu {
      padding-top: 10px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      display: none; }
      .header__collapse__menu a {
        font-size: 14px; }
        .header__collapse__menu a:hover {
          text-decoration: none;
          color: #acc6c9;
          padding-bottom: 0px;
          border-bottom: none; }
  .content {
    grid-template-columns: 1fr; }
    .content__block {
      width: 280px;
      height: 180px; }
      .content__block__overlay {
        width: 280px;
        margin-top: 90px; }
  .overlay-title {
    font-size: 14px;
    padding-top: 5px; }
  .overlay-description {
    font-size: 12px;
    padding-top: 5px; }
  .footer {
    font-size: 10px; }
    .footer > * {
      padding-right: 10px; }
    .footer i {
      font-size: 12px; } }

@media (max-width: 400px) {
  .header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    align-items: flex-start; }
    .header__main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin: 0; }
      .header__main__title {
        font-size: 26px; }
      .header__main__search {
        margin-top: 10px;
        width: 190px; }
  .searchbar {
    width: 160px;
    font-size: 14px; }
  .main {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px; }
  .content__block {
    width: 150px;
    height: 100px; }
    .content__block__overlay {
      width: 150px;
      margin-top: 70px; }
  .overlay-title {
    font-size: 14px;
    padding-top: 5px; }
  .overlay-description {
    display: none; }
  .footer {
    grid-template-columns: 1fr;
    font-size: 12px; }
    .footer i {
      font-size: 14px;
      padding-bottom: 0; } }

@media (max-width: 300px) {
  .header__main__title {
    font-size: 16px; }
  .header__main__search {
    margin-top: 10px;
    width: 165px; }
  .searchbar {
    width: 140px;
    font-size: 14px; }
  .footer {
    font-size: 8px; }
    .footer i {
      font-size: 12px; } }

html, body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }
